/* 
 *
Global styles
 *
*/

@import '~antd/dist/antd.css';

body {
  background-color: black;
  color: rgb(11, 166, 249);
}

header {
  height: 70px;
  text-align: center;
  line-height: 70px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  text-decoration: none;
  display: inline;
  font-size: 40px;
  padding: 30px 15px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top: 15px;
  height: 120px;
  fill: red;
}

.App-header {
  background-color: #222;
  height: 250px;
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 2.5em;
  color: #975C9F;
  margin-top: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}

.selected {
  color: rgb(255, 217, 0);
  text-decoration: none;
}


/* 
 *
Ant design styles
 *
*/
.ant-layout-header {
  margin: 0;
  padding: 0; 
  background-color: black;
}

.ant-back-top {
  bottom: 30px;
  right: calc(50vw - 20px);

}

.ant-back-top-inner {
  height: 50px;
  width: 50px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(255, 217, 0, 0.5);
  color: #000;
  text-align: center;
  font-size: 20px;
   transform: rotate(270deg);
}

.ant-card {
  border-color: #333;
} 

.ant-card-head {
  background-color: black;
  border-bottom: 1px solid #333;
}

.ant-card-head-title {
  color: #975C9F;
  font-size: 17px;
}

.ant-card-body {
  color: #40a9ff;
  padding: 7px;
}

/* 
 *
Section styles
 *
*/

/* Home */

.loading-icon {
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
}

.welcome-message {
  line-height: 30px;
  color: rgb(11, 166, 249);
  font-size: 24px;
  line-height: 35px;
}

/* People & Species & Starships & Planets
*/

.content-box {
  margin: 16px 8px;
  text-align: center;
  background-color: black;
  color: #fff;
}

.section-item {
  width: 10vw;
}


.link-style {
  color: green;
}

.info-title {
  color: #FFE6FF;
}


@media screen and (max-width: 622px) {
  .ant-layout-header {
    margin: 0 0 62px 0;
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .ant-layout-header {
    margin: 0 0 130px 0;
    padding: 0;
  }
}