/* 
 *
Global styles
 *
*/

@import '~antd/dist/antd.css';

body {
  background-color: black;
  color: rgb(11, 166, 249);
}

.App {
  text-align: center;
}

.text-center {
  text-align: center;
}

.selected {
  color: rgb(255, 217, 0);
  text-decoration: none;
}

/* 
 *
Ant design styles
 *
*/

.ant-layout-header {
  margin: 0;
  padding: 0;
  background-color: black;
  font-weight: 900;
}

.header-style {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.ant-menu {
  line-height: 64px;
}

.ant-back-top {
  bottom: 37px;
  right: calc(50vw - 20px);
}

.ant-inner {
  height: 50px;
  width: 50px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgba(255, 217, 0, 0.4);
  color: #000;
  text-align: center;
  font-size: 20px;
}

.ant-individual-inner {
  margin-top: 50px;
}

.ant-back-top-inner {
  transform: rotate(270deg);
}

.ant-back-inner {
  transform: rotate(180deg);
}

.ant-card {
  border-color: #333;
}

.ant-card-head {
  background-color: rgba(34, 34, 34, 0.5);
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  font-size: 10px;
}

.ant-card-head-title {
  color: #975c9f;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
}

.ant-card-cover {
  min-height: 300px;
}

.ant-card-cover img {
  width: 300px;
  margin: 0 auto;
  padding: 1px;
  overflow: none;
}

.ant-card-vehicle-starship-cover img {
  margin: 0 auto;
  padding: 1px;
  overflow: none;
}

.ant-card-body {
  color: #40a9ff;
  padding: 0 40px 5px 40px;
  font-family: 'Archivo Narrow', sans-serif;
}

.ant-card-body p {
  color: #40a9ff;
  margin: 0;
  padding-top: 7px;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
}

.ant-card-body span {
  color: rgba(255, 255, 255, 0.77);
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

/* 
 *
Section styles
 *
*/

/* Home */

.App {
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  margin: 100px 0 45px 0;
  height: 170px;
}

.App-header {
  background-color: #0e0e0e;
  height: 850px;
  color: white;
}

.greeting {
  line-height: 30px;
  color: #975c9f;
  font-size: 35px;
}

.about {
  margin-top: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
}

.welcome-message {
  color: #ddd;
  font-size: 22px;
  line-height: 60px;
  margin: 0 35px;
}

.warp-img {
  width: 90%;
}

/* People & Species & Starships & Planets
*/

.content-box {
  margin: 75px 8px -50px 8px;
  text-align: center;
  background-color: black;
  color: #fff;
}

.content-people-species-box {
  max-width: 500px;
  min-height: 200px;
}

.content-vehicle-box {
  max-width: 600px;
  min-height: 350px;
}

.content-starship-box {
  max-width: 600px;
  min-height: 400px;
}
.content-film-box {
  max-width: 600px;
  min-height: 340px;
}
.content-planet-box {
  max-width: 600px;
  min-height: 450px;
}

.section-item {
  width: 10vw;
}

.content-img-people img {
  width: auto;
  margin: 0 auto;
  padding: 15px;
  max-height: 300px;
}

.people-img-filter img {
  filter: brightness(90%) sepia(75%) hue-rotate(90deg);
}

.content-img-species img {
  width: auto;
  max-height: 300px;
  margin: 0 auto;
  padding: 15px;
  min-height: 300px;
  max-height: 300px;
}

.species-img-filter img {
  filter: brightness(90%) sepia(75%) hue-rotate(210deg);
}

.content-img-vehicles img {
  width: auto;
  margin: 0 auto;
  padding-top: 1px;
  max-height: 250px;
}

.vehicles-img-filter img {
  filter: brightness(90%) sepia(75%) hue-rotate(45deg);
}

.content-img-starships img {
  width: auto;
  margin: 0 auto;
  padding-top: 1px;
  max-height: 250px;
}

.starships-img-filter img {
  filter: brightness(90%) sepia(75%) hue-rotate(90deg);
}

.content-img-planets img {
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
  margin: 0 auto;
  padding: 10px;
}

.planets-img-filter img {
  filter: brightness(135%) contrast(115%);
}

.content-img-films img {
  margin: 0 auto;
  padding-top: 15px;
}

.films-img-filter img {
  filter: brightness(90%);
}

.ant-card-head-title {
  color: #975c9f;
  font-weight: 900;
  letter-spacing: 1px;
}

@media screen and (max-width: 639px) {
  .ant-layout-header {
    margin: 0;
    padding: 0;
  }
  .ant-card-cover {
    min-height: 10px;
  }
  .header-style {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 2000px) {
  .content-img-starships img,
  .content-img-vehicles img {
    max-width: 100%;
    min-height: auto;
    padding: 15px;
  }
}

@media screen and (max-width: 350px) {
  .ant-layout-header {
    margin: 0 0 120px 0;
    padding: 0;
  }
  .warp-img {
    width: 95%;
    margin: 80px 0;
  }
}

@media screen and (max-width: 850px) and (min-width: 350px) {
  .warp-img {
    margin: 120px 0;
  }
}

@media screen and (max-width: 368px) {
  .ant-layout-header {
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0;
  }
}
