/* 
 *
 *
Global styles
 *
 *
*/

@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-top: 15px;
  height: 120px;
  fill: red;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
  color: white;
  margin-top: 15px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  color: rgb(11, 166, 249);
}

header {
  height: 70px;
  text-align: center;
  line-height: 70px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  text-decoration: none;
  display: inline;
  font-size: 40px;
  padding: 30px 15px;
}

.text-center {
  text-align: center;
}

.selected {
  color: rgb(255, 217, 0);
  text-decoration: none;
}

.ant-card {
  border-color: #333;
} 

.ant-card-head {
  background-color: black;
  border-bottom: 1px solid #333;
}

.ant-card-head-title {
  color: #40a9ff;
}

.ant-card-body {
  color: #40a9ff;
}

/* 
 *
 *
Section styles
 *
 *
*/

hr {
  color: rgb(11, 166, 249);
}

/* Home */

.loading-icon {
  width: 80vw;
  height: 100vh;
  margin: 0 10vw;
}

.welcome-message {
  line-height: 30px;
  color: rgb(11, 166, 249);
  font-size: 24px;
  line-height: 35px;
}

/* People && Species */

.profile-box {
  margin: 16px;
  text-align: center;
  background-color: black;
  color: #fff;
}

/* Starships */

.starship-box { 
  margin: 25px 50px;
  text-align: center;
  background-color: black;
  color: #fff;
}

/* Planets */

.planet-box {
  margin: 25px 40px;
  text-align: center;
  background-color: black;
  color: #fff;
}
